header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 12px 30px;
  z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  background: url(../../assets/bg2.jpg);
  white-space: nowrap;

  .logo {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      height: 30px;
    }

    h1 {
      font-size: 18px;

      i {
        background: linear-gradient(#8d86b5, #90a0f2);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
      }
    }
  }

  nav {
    flex: 5;
    white-space: nowrap;


    a {
      text-decoration: none;
      color: black;
    }

    ul {
      position: relative;
      display: flex;
      align-items: center;
      list-style: none;
      gap: 32px;
      padding: 9px 20px;

      li {
        font-size: 14px;
        cursor: pointer;
        transition: 0.2s;
        z-index: 1;

        &.active a {
          color: white;
        }
      }

      .indicator {
        position: absolute;
        height: 100%;
        background-color: rgb(0, 0, 0);
        border-radius: 100px;
        translate: -14px;
        z-index: 1;
        transition: 0.2s ease-out;
      }
    }
  }

  .profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;

    img {
      height: 35px;
      aspect-ratio: 1;
      border-radius: 100px;
      background-color: black;
      object-fit: cover;
      translate: 0 -160%;
      transition: 0.3s ease;
    }

    &.active img {
      translate: 0;
    }
  }
}

@media (max-width: 700px) {
  header {
    padding: 10px 10px;
  }

  nav {
    display: none;
  }
}
